<div data-id="{{_id}}">
	<label>Title: <input id="tb-title" value="{{title}}"/></label><br>
	<label>Author:<input id="tb-author" value="{{author}}"/></label><br>
	<label>Genres:
		{{#each genres}}
			<input class="tb-genre" value="{{this}}"/><br>
		{{/each}}
	 </label><br>
	<label>Rating:<input id="tb-rating" value = "{{rating}}"/></label><br>
	<label>Description:<input id="tb-description" value="{{description}}"/></label><br>
	<label>Pages:<input id="tb-pages" value="{{pages}}"/></label><br>
	<button id='save' class='btn btn-default'>Save</button>
</div>