
<label for="">Title: <input type="text" id="tb-title"></label><br>
<label for="">Author: <input type="text" id="tb-author"></label><br>
<label for="">Genres: <input type="text" class="tb-genre"><br>
    <input type="text" class="tb-genre"><br>
    <input type="text" class="tb-genre"></label><br>
<label for="">Description: <input type="text" id="tb-description"></label><br>
<label for="">Number of pages: <input type="text" id="tb-pages"></label><br>
<label>Load book cover:</label>
<input class="btn btn-primary" type="button" id="btn-load-cover" value="Choose file">
<input type="file" style="display:none" id="btn-hidden" onchange="readURL(this);"><br>
<img src="" height="200" style="display:none" id="tb-cover"><br>
<button id="add-book">Add book</button>

