<div class="book-container" data-id="{{_id}}">
  <h2 class="book-title"><a href="#/books/{{_id}}" class="button">Title: {{title}}</a>
    <small><a class="link-edit-book" href="#/books/{{_id}}/edit">Edit</a></small>
  </h2>
  <br/>
  <img src="{{coverUrl}}" alt="The book has no cover" height="200">

  <p>Author:<a href="#/books?author={{author}}" class="button">{{author}}</a></p>

  <p>Genres: {{#each genres}}
    <a href="#/books?genre={{this}}" class="button">{{this}}</a> {{/each}}
  </p>

  <p>Rating: {{rating}}</p>

  <p>Description: {{description}}</p>

  <p>Pages: {{pages}}</p>

  <p>Reviews: {{reviews}}</p>
  <button class="btn btn-primary btn-change-status" data-status="want-to-read">Want to read</button>
  <button class="btn btn-primary btn-change-status" data-status="currently-reading">Currently reading</button>
  <button class="btn btn-primary btn-change-status" data-status="read">Read</button>
